html {
  overflow-y: scroll;
}
body {
  background-color: beige;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
#headerBox {
  width: 100%;
  background-color: white;
  opacity: 40%;
}
#headerBox > ul {
  text-align: right;
}
#headerBox > ul > li {
  list-style: none;
  display: inline-block;
  width: 25%;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
}
#headerBox > ul > li:nth-child(1) {
  list-style: none;
  display: inline-block;
  width: 15%;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: black;
}
#headerBox > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 30px;
}
#headerBox > ul > li > a:hover {
  font-weight: bold;
  color: aqua;
  animation-duration: 1s;
  transform: scale(1.05);
  transition-duration: 0.1s;
}
#section {
  width: 80%;
  height: 100%;
  margin: auto;
}
#section > #content {
  width: 100%;
}
#section > #content > ._introduceBox {
  width: 100%;
  height: 600px;
}
#section > #content > ._introduceBox:nth-child(1) {
  display: grid;
  grid-auto-flow: column;
}
#section > #content > ._introduceBox:nth-child(odd) {
  background-color: white;
}
#section > #content > ._introduceBox:nth-child(even) {
  background-color: gray;
}
#section > #content > ._introduceBox > ._introduceBoxPicture {
  width: fit-content;
  height: fit-content;
}
#section > #content > ._introduceBox > ._introduceBoxPicture img {
  width: 80%;
  margin: 5% 10%;
  display: block;
}
#section > #content > ._introduceBox > ._introduceTable {
  width: 100%;
  display: inline-block;
  border-collapse: collapse;
  margin: auto;
}
#section > #content > ._introduceBox > ._introduceTable td {
  border-bottom: 1px solid black;
  padding: 3%;
}
#section > #content > ._introduceBox > ._introduceTable td:nth-child(1) {
  width: 25%;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: cadetblue;
}
